<!--
  Generated template for the TaskListingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myGreen">
    <ion-title>Assigned Labour</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <p text-center *ngIf="displayNoLabourerMessage">No Labourers Assigned to this Crop Cycle.</p>

  <ion-list>
    <ion-card *ngFor="let task of taskListingData">
      <ion-card-title padding>{{task['firstName']}} {{task['lastName']}}</ion-card-title>
      <ion-card-content>
        <p>{{task.dateStarted | date: 'fullDate'}}</p>
        <p>Rate of Pay: {{task.rateOfPay}}</p>
        <p>Number of {{task.rateOfPay}} worked for: {{task.quantity}}</p>
        <p>Salary: ${{task.salary | number: '.2-2'}}</p>
        <p>Description: {{task.description}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
