<!--
  Generated template for the NewPurchasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myGreen">
    <ion-title>New Purchase</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-template #selectMaterialTemplate>
    <h4>Select the type of material you are buying</h4>
    <ion-list>
      <button ion-item *ngFor="let material of materialListTemplate.listData" (click)="selectMaterial(material)">
        {{material.name}}
      </button>
    </ion-list>
  </ng-template>

  <ng-template #selectMaterialTypeTemplate>
    <h5>Select {{selectedMaterial}}</h5>
    <ion-list>
      <button ion-item *ngFor="let materialType of materialTypeTemplate.listData" (click)="goToSelectMaterialUnits(materialType)">{{materialType.name}}</button>
    </ion-list>
  </ng-template>

  <ng-template #selectMaterialUnitsTemplate>
    <h5>Select Type of Units for {{materialName}}</h5>
    <ion-list>
      <button ion-item *ngFor="let unit of materialUnitsTemplate.listData" (click)="goToSubmitTemplate(unit)">{{unit}}</button>
    </ion-list>
  </ng-template>

  <ng-template #submitDataTemplate>
    <h4>Select Quantity of {{materialName}} to be purchased</h4>
    <form [formGroup]="newPurchase">
      <ion-item>
        <ion-label color="primary" stacked>Quantity ({{unitsOfPurchase}}) (Required)</ion-label>
        <ion-input type="number" placeholder="Quantity of purchased" name="quantity" formControlName="quantity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Total Cost (Required)</ion-label>
        <ion-input type="number" placeholder="Enter total cost of purchase" name="cost" formControlName="cost"></ion-input>
      </ion-item>
      <ion-item>
        <ion-datetime displayFormat="DDDD, DD MMMM, YYYY" name="datePurchased" formControlName="datePurchased"></ion-datetime>
      </ion-item>
      <!-- <button ion-button block [disabled]="!newPurchase.valid" type="submit" color="myGreen">Done</button> -->
      <ion-fab right bottom >
        <button ion-fab [disabled]="!newPurchase.valid" (click)="savePurchase()" color="myGreen"><ion-icon name="checkmark"></ion-icon></button>
      </ion-fab>
    </form>
  </ng-template>

  <div *ngIf="materialListTemplate.isActive() === true;then selectMaterialTemplate"></div>
  <div *ngIf="materialTypeTemplate.isActive() === true;then selectMaterialTypeTemplate"></div>
  <div *ngIf="materialUnitsTemplate.isActive() === true;then selectMaterialUnitsTemplate"></div>
  <div *ngIf="submitTemplate.isActive() === true;then submitDataTemplate"></div>

</ion-content>

<ion-fab right bottom *ngIf="materialTypeTemplate.isActive() === true" (click)="presentPromptForMaterialType()">
  <button ion-fab  color="myGreen"><ion-icon name="add"></ion-icon></button>
</ion-fab>
