<!--
  Generated template for the SaleListingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myGreen">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sale Listing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p text-center *ngIf="displayEmptyListMessage">No sales made</p>

  <ion-list>
    <ion-card *ngFor="let sale of saleListing">
      <ion-card-title padding>{{sale.crop}}</ion-card-title>
      <ion-card-content>
        <p>Quantity sold: {{sale.quantityOfUnitsSold}}</p>
        <p>Units sold by: {{sale.unitsSoldBy}}</p>
        <p>Cost sold for: ${{sale.costPerunit | number: '.2-2'}}</p>
        <p>Date Sold: {{sale.dateSold | date: 'fullDate'}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="goToHarvestListingPage()" color="main"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
