<ion-header>
  <ion-navbar color="myGreen">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cycles</ion-title>
  </ion-navbar>

  <!--
    The commented code below can be used to display a searchbar in the header as apposed to title
  -->

  <!-- <ion-toolbar color="myGreen">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar no-border></ion-searchbar>
  </ion-toolbar> -->


</ion-header>

<ion-content>

    <p text-center *ngIf="displayNoCyclesMadeMessage">No Cycles made</p>

  <ion-list>
    <ion-item *ngFor="let cycle of cycleListing; let i = index">
      <button item-start (click)="goToCycleDataPage(cycle.id)">
        <ion-thumbnail>
          <img src="{{cycle.cropImagePath}}" width="100%">
        </ion-thumbnail>
      </button>
      <div (click)="goToCycleDataPage(cycle.id)">
        <p>Crop: {{cycle.crop}}</p>
        <p>{{cycle.landQuantity}} {{cycle.landUnit}}s</p>
        <p>{{cycle.datePlanted | date: 'fullDate'}}</p>
        <p class="closed-display" *ngIf="cycle.active === false">Closed</p>
      </div>
      <button ion-button item-end clear icon-only (click)="openCycleOptionsPopover($event, cycle, i)" color="main">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="newCycle()" color="myGreen"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
