<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cycles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <!--<ion-card *ngFor="let cycle of cycleListing; let i = index">
        <ion-card-title padding>{{cycle.name}}</ion-card-title>
      <img src="{{cycle.cropImagePath}}" alt="myImage">
      <ion-card-content>
        <p>Crop: {{cycle.crop}}</p>
        <p>{{cycle.landQuantity}} {{cycle.landUnit}}s</p>
        <p>{{cycle.datePlanted | date: 'fullDate'}}</p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)="deleteCycle(cycle.id, i)">
            <ion-icon name="trash"></ion-icon>
            <div>Delete</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small (click)="editCycle(cycle, cycle.id)">
            <ion-icon ios="md-create" md="md-create"></ion-icon>
            <div>Edit</div>
          </button>
        </ion-col>
        <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon ios="md-close" md="md-close"></ion-icon>
              <div>Close</div>
            </button>
          </ion-col>
      </ion-row>
    </ion-card>-->

    <ion-item *ngFor="let cycle of cycleListing; let i = index">
      <ion-thumbnail item-start>
        <img src="{{cycle.cropImagePath}}">
      </ion-thumbnail>
      <p>Crop: {{cycle.crop}}</p>
      <p>{{cycle.landQuantity}} {{cycle.landUnit}}s</p>
      <p>{{cycle.datePlanted | date: 'fullDate'}}</p>

      <button ion-button item-right clear icon-only (click)="openPopover($event, cycle, i)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-fab right bottom >
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
