<!--
  Generated template for the EditPurchasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>edit-purchase-page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form>
    <ion-item>
      <ion-label color="primary" stacked>Select Material</ion-label>
      <ion-select [(ngModel)]="selectedMaterial" name="materialName" (ionChange)="materialChange()">
        <ion-option *ngFor="let material of materialListing" [value]="material.name">{{material.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Select</ion-label>
      <ion-select [(ngModel)]="selectedMaterialType" name="materialType">
        <ion-option *ngFor="let materialType of materialTypeList" [value]="materialType.name">{{materialType.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Units</ion-label>
      <ion-select [(ngModel)]="selectedMaterialUnits" name="units">
        <ion-option *ngFor="let unit of materialUnitsList" [value]="unit">{{unit}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Quantity purchases</ion-label>
      <ion-input  [(ngModel)]="quantityPurchased" type="number" placeholder="Quantity purchased" name="quantity" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Total cost of Purchase</ion-label>
      <ion-input [(ngModel)]="totalCostOfPurchase" type="number" placeholder="Total cost of purchase" name="cost" ></ion-input>
    </ion-item>
  </form>

  <ion-fab right bottom >
    <button ion-fab  color="myGreen" (click)="submit()"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>

</ion-content>
