<!--
  Generated template for the CycleDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myGreen">
    <ion-title>{{selectedCycle.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <div class="closed-display2" *ngIf="!selectedCycle.active">Cycle is Closed</div>
  </ion-card>
  <ion-list>
    <ion-card>
      <h2 padding>Total expenses for {{selectedCycle.name}}</h2>
      <ion-list class="list1">
        <ion-item class="itemList" *ngFor="let material of materialList">
          <ion-avatar item-start>
              <img src="{{material.imagePath}}">
          </ion-avatar>
          <p class="h5-prop">{{material.name}}:</p><p item-end>${{ material.total | number: '.2-2'}}</p>
        </ion-item>

        <ion-item class="itemList">
          <ion-avatar item-start>
            <img src="assets/img/labour_icon.png">
          </ion-avatar>
          <p class="h5-prop">Labour:</p><p item-end>${{totalSpentOnLabour | number: '.2-2'}}</p>
        </ion-item>

        <ion-item class="itemList">
          <ion-avatar item-start>
            <img src="assets/img/expenses_icon.png">
          </ion-avatar>
          <p class="h5-prop">Total expenses: </p><p item-end>${{totalAmountSpent | number: '.2-2'}}</p>
        </ion-item>

        <ion-item class="itemList">
          <ion-avatar item-start>
              <img src="assets/img/sale_icon.jpg">
          </ion-avatar>
          <p class="h5-prop">Total made from sales:</p><p item-end>${{totalMadeFromSales | number: '.2-2'}}</p>
        </ion-item>
      </ion-list>
      <h2 padding>Total Harvests for {{selectedCycle.name}}</h2>
        <ion-list>
          <ion-item class="itemList2">
            <p>{{numHarvests}} harvests.</p>
          </ion-item>
        </ion-list>
    </ion-card>

    <ion-card *ngFor="let material of materialList" [ngStyle]="{'background-color': material.color}">
      <ion-card-title ion-text color="light" (click)="goToViewCycleUsePage(material.id, material.name)" padding>{{material.name}}</ion-card-title>
      <ion-card-content (click)="goToViewCycleUsePage(material.id, material.name)">
        <p ion-text color="light">Total spent: ${{material.total | number: '.2-2'}}</p>
      </ion-card-content>
      <ion-row>
          <ion-col>
            <button ion-button icon-left clear small color="light" (click)="goToViewCycleUsePage(material.id, material.name)">
              <ion-icon name="eye"></ion-icon>
              <div>View</div>
            </button>
          </ion-col>
          <ion-col>
              <button ion-button icon-left clear small color="light" (click)="goToSelectPurchasePage(material.id,material.name)" [disabled]="!selectedCycle.active">
                <ion-icon name="add-circle"></ion-icon>
                <div>Use {{material.name}}</div>
              </button>
          </ion-col>
      </ion-row>
    </ion-card>

    <ion-card [ngStyle]="{'background-color': '#ffcc00'}">
        <ion-card-title ion-text color="light" (click)="goToTaskListingPage()" padding>Labour</ion-card-title>
        <ion-card-content (click)="goToTaskListingPage()">
          <p ion-text color="light">${{totalSpentOnLabour | number: '.2-2'}}</p>
        </ion-card-content>
        <ion-row>
            <ion-col>
              <button ion-button icon-left clear small color="light" (click)="goToTaskListingPage()">
                <ion-icon name="eye"></ion-icon>
                <div>View</div>
              </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-left clear small color="light" (click)="goToLabourListingPage()" [disabled]="!selectedCycle.active">
                  <ion-icon name="add-circle"></ion-icon>
                  <div>Assign Labour</div>
                </button>
              </ion-col>
          </ion-row>
      </ion-card>

      <ion-card [ngStyle]="{'background-color': '#F7190E'}">
        <ion-card-title ion-text color="light" (click)="goToHarvestListingPage()" padding>Harvests</ion-card-title>
        <ion-card-content (click)="goToHarvestListingPage()">
          <p ion-text color="light" >{{numHarvests}} harvests.</p>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small color="light" (click)="goToHarvestListingPage()">
              <ion-icon name="eye"></ion-icon>
              <div>View</div>
            </button>
          </ion-col>
          <ion-col>
              <button ion-button icon-left clear small color="light" (click)="goToNewHarvestPage(selectedCycle)" [disabled]="!selectedCycle.active">
                <ion-icon name="add-circle"></ion-icon>
                <div>Add Harvests</div>
              </button>
          </ion-col>
        </ion-row>
      </ion-card>

  </ion-list>

</ion-content>

<!-- <ion-footer>
  <ion-card>
    <ion-card-content>
      <p>Total spent: ${{totalAmountSpent | number: '.2-2'}}</p>
    </ion-card-content>
  </ion-card>

</ion-footer> -->
