
.underlined{
    text-decoration: underline;
}

.white-text{
    color: aliceblue;
}

.totals-border{
    border: 1px solid red;
}

.totals-border-bottom{
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

.h5-prop{
  padding-top: 1px;
}

.itemList{
  margin-bottom: -12px;
}
.itemList2{
  margin-top: -15px;
  margin-bottom: -5px;
}

.list1{
  margin-top: -10px;
}
