<!--
  Generated template for the CycleDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myGreen">
    <ion-title>{{selectedCycle.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-list>
    <ion-card>
      <!-- <ion-card-title padding>Total expenses for {{selectedCycle.name}}</ion-card-title> -->
      <h2 padding>Total expenses for {{selectedCycle.name}}</h2>
      <ion-list>
        <ion-item *ngFor="let material of materialList">
          <ion-avatar item-start>
              <img src="{{material.imagePath}}">
          </ion-avatar>
          <h4 class="h4-prop">{{material.name}}:</h4><h4 item-end>${{ material.total | number: '.2-2'}}</h4>
        </ion-item>

        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/labour_icon.png">
          </ion-avatar>
          <h4 class="h4-prop">Labour:</h4><h4 item-end>${{totalSpentOnLabour | number: '.2-2'}}</h4>
        </ion-item>

        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/expenses_icon.png">
          </ion-avatar>
          <h4 class="h4-prop">Total expenses: </h4><h4 item-end>${{totalAmountSpent | number: '.2-2'}}</h4>
        </ion-item>

        <ion-item>
          <ion-avatar item-start>
              <img src="assets/img/sale_icon.jpg">
          </ion-avatar>
          <h4 class="h4-prop">Total made from sales:</h4><h4 item-end>${{totalMadeFromSales | number: '.2-2'}}</h4>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card *ngFor="let material of materialList" [ngStyle]="{'background-color': material.color}">
      <ion-card-title ion-text color="light" (click)="goToViewCycleUsePage(material.id, material.name)" padding>{{material.name}}</ion-card-title>
      <ion-card-content (click)="goToViewCycleUsePage(material.id, material.name)">
        <p ion-text color="light">Total spent: ${{material.total | number: '.2-2'}}</p>
      </ion-card-content>
      <ion-row>
          <ion-col>
            <button ion-button icon-left clear small color="light" (click)="goToViewCycleUsePage(material.id, material.name)">
              <ion-icon name="eye"></ion-icon>
              <div>View</div>
            </button>
          </ion-col>
          <ion-col>
              <button ion-button icon-left clear small color="light" (click)="goToSelectPurchasePage(material.id)">
                <ion-icon name="add-circle"></ion-icon>
                <div>Use material</div>
              </button>
          </ion-col>
      </ion-row>
    </ion-card>

    <ion-card [ngStyle]="{'background-color': '#ffcc00'}">
        <ion-card-title ion-text color="light" (click)="goToTaskListingPage()" padding>Labour</ion-card-title>
        <ion-card-content (click)="goToTaskListingPage()">
          <p ion-text color="light">${{totalSpentOnLabour | number: '.2-2'}}</p>
        </ion-card-content>
        <ion-row>
            <ion-col>
              <button ion-button icon-left clear small color="light" (click)="goToTaskListingPage()">
                <ion-icon name="eye"></ion-icon>
                <div>View</div>
              </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-left clear small color="light" (click)="goToLabourListingPage()">
                  <ion-icon name="add-circle"></ion-icon>
                  <div>Assign Labour</div>
                </button>
              </ion-col>
          </ion-row>
      </ion-card>

      <ion-card [ngStyle]="{'background-color': '#F7190E'}">
        <ion-card-title ion-text color="light" (click)="goToHarvestListingPage()" padding>Harvests</ion-card-title>
        <ion-card-content (click)="goToHarvestListingPage()">
          <p ion-text color="light" >{{numHarvests}} harvests.</p>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small color="light" (click)="goToHarvestListingPage()">
              <ion-icon name="eye"></ion-icon>
              <div>View</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

  </ion-list>

</ion-content>

<!-- <ion-footer>
  <ion-card>
    <ion-card-content>
      <p>Total spent: ${{totalAmountSpent | number: '.2-2'}}</p>
    </ion-card-content>
  </ion-card>

</ion-footer> -->
