<!--
  Generated template for the SelectCyclePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myGreen">
    <ion-title>Assign Labour</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p text-center *ngIf="displayEmptyListMessage">Create a Cycle to assign Labour.</p>

  <ion-list>
    <ion-item *ngFor="let cycle of cycleListing; let i = index">
      <ion-label>
            <h2>{{cycle.name}}</h2>
            <p>{{cycle.landQuantity}} {{cycle.landUnit}}s</p>
            <p>{{cycle.datePlanted | date: 'fullDate'}}</p>
      </ion-label>
      <ion-checkbox item-right (ionChange)="addCycle(i, cycle.id)" color="myGreen"></ion-checkbox>
      <ion-avatar item-start>
          <img src="{{cycle.cropImagePath}}">
        </ion-avatar>
    </ion-item>
  </ion-list>

  <ion-fab right bottom *ngIf="showContinueButton" >
    <button ion-fab (click)="goToNewTaskDataPage()" color="myGreen"><ion-icon name="arrow-round-forward"></ion-icon></button>
  </ion-fab>

</ion-content>
