<!--
  Generated template for the SelectPurchasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myGreen">
    <ion-title>Select Purchase</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p text-center *ngIf="displayNoPurchaseMessage">No purchases available for use.</p>

  <ion-card *ngFor="let purchase of avaialblePurchaseListing">
    <ion-card-title padding>
      {{purchase.typeName}}
    </ion-card-title>
    <ion-card-content>
      <p>Amount Purchased: {{purchase.quantityPurchased}} {{purchase.units}}</p>
      <p>Amount Remaining: {{purchase.quantityRemaining}} {{purchase.units}}</p>
      <p>Cost per {{purchase.units}}: ${{purchase.cost | number: '.2-2'}}</p>
    </ion-card-content>
    <ion-row padding >
        <button ion-button block (click)="goToUseMaterialPage(purchase.id)" color="myGreen">Use <ion-icon name="share-alt"></ion-icon></button>
    </ion-row>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="myGreen"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
