<!--
  Generated template for the LabourerListingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="myGreen">
    <!-- <ion-title>Select Labourer to Assign Job</ion-title> -->
    <ion-searchbar right no-border [(ngModel)]="searchLabourer" [formControl]="searchControl" placeholder="Search Labourers"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p text-center *ngIf="displayEmptyListMessage">No Labourers added</p>

  <ion-list>
    <ion-item-sliding *ngFor="let labourer of labourerListing | filter: searchLabourer">
      <ion-item (click)="assignTask(labourer)">
        <h2>{{labourer.firstName}} {{labourer.lastName}}</h2>
      </ion-item>
      <ion-item-options side="left">
          <button ion-button color="primary">
            <ion-icon name="text"></ion-icon>
            Text
          </button>
          <button ion-button color="secondary">
            <ion-icon name="call"></ion-icon>
            Call
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-fab right bottom>
  <button ion-fab (click)="goToNewLabourerPage()" color="myGreen"><ion-icon name="add"></ion-icon></button>
</ion-fab>
